@if (isOpen()) {
  <div class="overlay" (click)="isOpen.set(false)">
  </div>
}
<nav class="header">
  <div class="header__container">
    <!--hamburger-->
      <button class="header__container-hamburger" (click)="isOpen.set(!isOpen())">
        <img src="./assets/images/shared/tablet/icon-hamburger.svg">
      </button>
    <!--logo-->
      <a href="" class="header__container-logo">
        <img src="./assets/images/shared/desktop/logo.svg">
      </a>
    <!--list-->
      <ul class="header__container-list">
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link list">Home</a>
        </li>
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link list">headphones</a>
        </li>
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link list ">speakers</a>
        </li>
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link list ">earphones</a>
        </li>
      </ul>
    <!--cart-->
      <button class="header__container-cart">
        <img src="./assets/images/shared/desktop/icon-cart.svg">
      </button>
  </div>

    <audiophile-drop-down *ngIf="isOpen()" [open]="isOpen()"   />
</nav>
