<nav class="header">
  <div class="header__container">
    <!--hamburger-->
      <button class="header__container-hamburger">
        <img src="./assets/images/shared/tablet/icon-hamburger.svg">
      </button>
    <!--logo-->
      <a href="" class="header__container-logo">
        <img src="./assets/images/shared/desktop/logo.svg">
      </a>
    <!--list-->
      <ul class="header__container-list">
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link">Home</a>
        </li>
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link">headphones</a>
        </li>
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link">speakers</a>
        </li>
        <li class="header__container-list-item">
          <a href="" class="header__container-list-item-link">earphones</a>
        </li>
      </ul>
    <!--cart-->
      <button class="header__container-cart">
        <img src="./assets/images/shared/desktop/icon-cart.svg">
      </button>
  </div>
</nav>
