<audiophile-home-header />
<main>
  <div class="wrapper">
    <section class="wrapper__items">
      <ng-container *ngFor="let shop of configShop">
        <audiophile-category-items [config]="shop" />
      </ng-container>


    </section>
<!--products section one-->
    <section class="wrapper__products">
        <div class="wrapper__products__image">
          <img src="/assets/images/shared/desktop/image-speakers.png" alt="">
        </div>
    <!---->
      <div class="wrapper__products__content">
        <h2>ZX9 Speaker</h2>
        <p>Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
        <audiophile-button [btnConfig]="btnConfig.configOne"/>
      </div>
    </section>
    <!--products section two-->
    <section class="wrapper__products2">
        <h2>ZX7 Speaker</h2>
        <audiophile-button [btnConfig]="btnConfig.configTwo"/>
    </section>
  <!---->
    <section class="wrapper__products3">
      <img src="/assets/images/home/desktop/image-earphones-yx1.jpg" alt="">
      <div class="wrapper__products3__content">
        <h2>YX1 Earphones</h2>
        <audiophile-button [btnConfig]="btnConfig.configTwo"/>
      </div>
    </section>
<!--section 3-->
<audiophile-shop />
  </div>

</main>
