<div class="product" *ngIf="specificProduct$ | async as product">
    <div class="product__container">
      <button class="product__container-btn">go back</button>

      <section class="product__section" >

        <img [src]="imageChange.getImageUrl(product.categoryImage.mobile.fileName ,product.categoryImage.mobile.folderName)" alt="">

        <div class="product__section__content">
          <p class="product__section__content-new">New Product</p>
          <h1 class="product__section__content-name">{{product.slug}}</h1>
          <p class="product__section__content-description">{{product.description}}</p>
          <p class="product__section__content-prize">{{product.price}}$</p>
          <div class="product__section__btns">
            <div class="product__section__btns-add">
              <button (click)="decrement()">-</button>
              {{count()}}
              <button (click)="increment()">+</button>
            </div>
            <audiophile-button [btnConfig]="btnConfig.configOne" (click)="onQuantityChange(product,count())" />
          </div>
        </div>
      </section>

      <section class="product__features">
        <div class="product__features__text-box">
          <h2>Features</h2>
          <p>{{product.features}}</p>
        </div>
        <div class="product__features__includes">
          <h2>In the box</h2>
          <ul>
            <li>
              <p class="product__features__includes-orange">1x</p>
              <p>Headphone unit</p>
            </li>
            <li>
              <p class="product__features__includes-orange">2x</p>
              <p>Replacement earcups</p>
            </li>
            <li>
              <p class="product__features__includes-orange">1x</p>
              <p>User manual</p>
            </li>
            <li>
              <p class="product__features__includes-orange">1x</p>
              <p>3.5mm 5m audio cable</p>
            </li>
            <li>
              <p class="product__features__includes-orange">1x</p>
              <p>Travel bag</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="product__gallery">
          <div class="product__gallery__left">
            <img [src]="imageChange.getImageUrl(product.gallery.first.mobile.fileName,product.gallery.first.mobile.folderName)" alt="">
            <img [src]="imageChange.getImageUrl(product.gallery.second.mobile.fileName,product.gallery.second.mobile.folderName)" alt="">
          </div>
          <img [src]="imageChange.getImageUrl(product.gallery.third.mobile.fileName,product.gallery.third.mobile.folderName)" alt="">
      </section>

      <section class="product__related">
        <h2>You may also like</h2>
  <div class="product__related__container">
  <div class="product__related__items">
    <img [src]="imageChange.getImageUrl('image-xx99-mark-two-headphones.jpg','shared')" alt="">
    <h3>XX99 Mark II</h3>
    <audiophile-button [btnConfig]="btnConfig.configTwo" (click)="onNavigation('xx99-mark-two-headphones')" />
  </div>
  <div class="product__related__items">
    <img [src]="imageChange.getImageUrl('image-xx99-mark-one-headphones.jpg','shared')" alt="">
    <h3>XX99 Mark I</h3>
    <audiophile-button [btnConfig]="btnConfig.configTwo" (click)="onNavigation('xx99-mark-one-headphones')" />
  </div>
  <div class="product__related__items">
    <img [src]="imageChange.getImageUrl('image-zx9-speaker.jpg','shared')" alt="">
    <h3>ZX9 Speaker</h3>
    <audiophile-button [btnConfig]="btnConfig.configTwo" (click)="onNavigation('ZX9-Speaker')" />
  </div>
  </div>
      </section>
      <section class="product__shop">
        <ng-container *ngFor="let shop of configShop">
          <audiophile-category-items [config]="shop" />
        </ng-container>
      </section>
          <audiophile-shop />
    </div>
</div>
