<header class="home-header">
  <img [src]="headerImg" alt="">
  <div class="home-header__container">
    <section class="home-header__container__content">
      <p class="home-header__container__content-heading">New Product</p>
      <h1 class="home-header__container__content-title">XX99 Mark II HeadphoneS</h1>
      <p class="home-header__container__content-heading home-header__container__content-heading--size ">Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</p>
      <audiophile-button [btnConfig]="btnConfig"  />
    </section>
  </div>
</header>
