/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/reset';
@use 'assets/styles/mixins';
@use 'assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
  @include mixins.hiddenScroll;
  color: white;
  font-family: "Manrope", sans-serif;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.list {
  color: #fafafa;
  font-size: variables.$font-size-14;
  line-height: variables.$size-24;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__texts {
  text-align: center;
  font-weight: 500;
  font-size: .9375rem;
  line-height: 1.5625rem;
  color: #fafafa80
}
.btn-styles {
  height: 3rem;
  display: flex;
  width: fit-content;
  text-transform: uppercase;
  font-size: .8125rem;
  align-items: center;
  font-weight: 700;
  padding: 0 1.875rem;
  border: 2px solid;
}

.btn-header {
  background-color: #d87d4a;
  color: white;
  outline: none;
  border: none;
  margin-top: variables.$size-50;
}
.color {
  background: black;
}
.btn-default {
  background-color: #d87d4a;
  color: #fff;
  border-color: #d87d4a;
}
