
<div class="cart-modal">
  <div class="cart-modal__wrapper">
      <div class="cart-modal__section">
            <div class="cart-modal__section__header">
              <p>CART(0)</p>
              <button>Remove All</button>
            </div>

            <div class="cart-modal__wrapper__list">
                <p>Yor cart is empty</p>
            </div>

        <div class="cart-modal__wrapper__total">
          <p>Total</p>
          <p class="cart-modal__wrapper__total-amount">$0</p>
        </div>
        <div style="width: 100%">
          <audiophile-button [btnConfig]="btnConfig.configOne"/>
        </div>
      </div>
  </div>
</div>
