<footer class="footer">
    <div class="footer__container">
      <hr class="footer-line">

      <div class="footer-content">
        <section class="footer-content__section">
          <a href="" class="footer-content__section-logo">
            <img src="./assets/images/shared/desktop/logo.svg">
          </a>
          <ul class="footer-content__section-list">
            <li class="footer-content__section-list-item">
              <a href="" class="header__container-list-item-link list">Home</a>
            </li>
            <li class="footer-content__section-item">
              <a href="" class="header__container-list-item-link list">headphones</a>
            </li>
            <li class="footer-content__section-item">
              <a href="" class="header__container-list-item-link list">speakers</a>
            </li>
            <li class="footer-content__section-item">
              <a href="" class="header__container-list-item-link list">earphones</a>
            </li>
          </ul>
        </section>
        <p class="footer__texts footer--description ">Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we’re open 7 days a week.</p>
        <p class="footer__texts footer--copyright"> Copyright 2021. All Rights Reserved</p>

        <div class="footer__socials">
          <a href="">
            <img src="./assets/images/shared/desktop/icon-facebook.svg" alt="">
          </a>
          <a href="">
            <img src="./assets/images/shared/desktop/icon-instagram.svg" alt="">
          </a>
          <a href="">
            <img src="./assets/images/shared/desktop/icon-twitter.svg" alt="">
          </a>
        </div>
      </div>
    </div>
</footer>
